CodeNectar flow.json
[{"id":"f9513068.db7e88","type":"http in","z":"6be0cede.82521","name":"","url":"/codenectar","method":"get","upload":false,"swaggerDoc":"","x":120,"y":80,"wires":[["99a71e80.935508"]]},{"id":"961adb47.2edbf8","type":"http response","z":"6be0cede.82521","name":"","statusCode":"","headers":{},"x":674,"y":144,"wires":[]},{"id":"99a71e80.935508","type":"template","z":"6be0cede.82521","name":"css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":".fixed-nav-bar {\n  position: fixed;\n  top: 0;\n  left: 0;\n  z-index: 9999;\n  width: 100%;\n  height: 65px;\n  background-color: #343436;\n}\n.button{\n    background-color: #8741bb;\n  border: 1px solid white;\n  text-decoration:none;\n  color: white;\n  padding: 8px 35px;\n  text-align: center;\n  display: inline-block;\n  font-size: 16px;\n  margin-left:23cm;\n  margin: 4px 2px;\n  cursor: pointer;\n  float:right;\n}\n.button:hover{\n     background-color: #4CAF50;\n}\n.logo{\n    float: left;\n    height: inherit;\n    margin-left: 4em;\n    color:#ddaeff;\n    font-family: Homemade Apple;\n    font-size:20px;\n    margin-top:-10px;\n    text-shadow:v-shadow;\n    font-weight:bold;\n}\n.searchbar{\n    float:left;\n    margin-top:-18px;\n\n}\n.top\n{\n   width:35.6cm;\n  margin-left:-6px;\n   text-align:center;\n   font-size:20px;\n   margin-top:1.7cm;\n   padding-top:-0.8cm;\n   padding-bottom:-0.9cm;\n   background-color:#dddddd;\n   font-family:monospace;\n}\n.col1{\n    height:20cm;\n    width: 6cm;\n    margin-left:12px;\n    margin-top:50px;\n    background-color:#FFFAFA;\n    position:absolute;\n}\n.col2{\n    height:67cm;\n    width: 18.4cm;\n    margin-left:7cm;\n    margin-top:50px;\n    /*background-color:#FFFAFA;*/\n    background-color: whitesmoke;\n    position:absolute;\n    \n}\n.col3{\n    background-color:#dcdcdc;\n    height:20cm;\n    width:9cm;\n    margin-left:26cm;\n    margin-top:50px;\n    position:absolute;\n}\n.bar#bar1{\n    height:10px;\n    width:5cm;\n    margin-left:0.6cm;\n    margin-top:-36px;\n    background-color: #e4b4e4;\n}\n.para1#par1\n{\n  margin-left:25px;  \n}\n.vline{\n     border-left: 2px solid purple;\n  height: 4cm;\n  position: absolute;\n  left: 50%;\n  margin-left: -3px;\n  margin-top:140px;\n  top: 0;\n}\n.bar2\n{\n     height:10px;\n    width:5cm;\n    margin-left:0.2cm;\n    margin-top:-0.9cm;\n    background-color: #e4b4e4;\n}\n.codeblock\n{\n    height:5cm;\n    width:17cm;\n    margin-top:40px;\n    background-color: #381438;\n}\n.para2{\n    margin-left:-1cm;\n}\n.vline2{\n     border-left: 2px solid purple;\n  height: 10cm;\n  position: absolute;\n  left: 50%;\n  margin-left: -3px;\n  margin-top:18.2cm;\n  top: 0;\n}\n.book{\n   margin-left:80px;\n   margin-top:30px;\n}\n.amazontext{\n    padding:3px;\n    font-size:20px;\n    margin-left:25px;\n}\n.ficon{\n  padding: 20px;\n  font-size: 30px;\n  width: 30px;\n  text-align: center;\n  text-decoration: none;\n  background: #3B5998;\n  border-radius:50%;\n  margin-left:180px;\n  margin-top:40px;\n  \n}\n.fa-facebook {\n  background: #3B5998;\n  color: white;\n}\n.fa:hover {\n  opacity: 0.7;\n}\n.yicon{\n  padding: 20px;\n  font-size: 30px;\n  width: 30px;\n  text-align: center;\n  text-decoration: none;\n  background: #bb0000;\n  border-radius:50%;\n  margin-left:180px;\n  margin-top:15px;\n  \n}\n.fa-youtube {\n  background: #bb0000;\n  color: white;\n}\n.licon{\n  padding: 20px;\n  font-size: 30px;\n  width: 30px;\n  text-align: center;\n  text-decoration: none;\n  background: #007bb5;\n  border-radius:50%;\n  margin-left:180px;\n  margin-top:15px;\n  \n}\n.fa-linkedin {\n  background: #007bb5;\n  color: white;\n}\nfooter {\n  text-align: center;\n  padding: 8px;\n  background-color:#343436;\n  color:#ddaeff;\n  height:5cm;\n  width:35.6cm;\n  margin-top:50px;\n  margin-left:-290px;\n  font-family:initial;\n  font-size:16px;\n}","output":"str","x":338,"y":96,"wires":[["663a1acf.97dde4"]]},{"id":"663a1acf.97dde4","type":"template","z":"6be0cede.82521","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n      <link href='https://fonts.googleapis.com/css?family=Homemade Apple' rel='stylesheet'>\n    <title>Code Nectar</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <style>{{{payload.style}}}</style>\n  </head>\n  <body> \n  <nav class=\"fixed-nav-bar\">\n      <header>\n          <div class=\"logo\"><h2>Code Nectar<a href=\"https://node-red-wevdm.eu-gb.mybluemix.net/WriteForUs\" class=\"button\" style=\"margin-left:23cm;font-family:Helvetica;\">Write For Us!</a></h2> </div>\n          <div class=\"searchbar\"><script async src=\"https://cse.google.com/cse.js?cx=3bffc8c82af3b790c\"></script>\n          <div class=\"gcse-search\"></div> </div>\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n      </header>\n</nav>\n\n<div class=top><h4> Concepts simplified!</h4></div>\n\n<div class=col1> <h2 style=\"font-family:Homemade Apple;margin-top:0.4cm;margin-left:25px;text-decoration:underline;color:#381438\">Cliff Notes</style>\n</h2><h3 style=\"margin-left:40px;\"><a href=\"https://node-red-wevdm.eu-gb.mybluemix.net/codenectar\"><ul><li> C++ </li></ul></a></style></h3>\n<h3 style=\"margin-left:40px;\"><a href=\"#\"><ul><li> C# </li></ul></a></style></h3>\n<h3 style=\"margin-left:40px;\"><a href=\"#\"><ul><li> Java </li></ul></a></style></h3>\n<div class=ficon><a href=\"#\" class=\"fa fa-facebook\"></a></div>\n<div class=yicon><a href=\"https://www.youtube.com/user/edurekaIN\" class=\"fa fa-youtube\"></a></div>\n<div class=licon><a href=\"#\" class=\"fa fa-linkedin\"></a></div>\n\n</div>\n\n<div class=col3><div class=book><a href=\"https://www.amazon.in/gp/product/1647336805/ref=as_li_ss_il?ie=UTF8&tag=&linkCode=li3&tag=amazon00a96-21&linkId=9debdd80fb392fc797bdbbf1ad92cc6d&language=en_IN\" target=\"_blank\"><img border=\"0\" src=\"//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=1647336805&Format=_SL250_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=amazon00a96-21&language=en_IN\" ></a><img src=\"https://ir-in.amazon-adsystem.com/e/ir?t=amazon00a96-21&language=en_IN&l=li3&o=31&a=1647336805\"\nwidth=\"1\" height=\"1\" border=\"0\" alt=\"\" style=\"border:none !important; margin:0px !important;\" /></div>\n<br><div class=amazontext><a href=https://amzn.to/3jDcgDw>OOPs Concepts Booster:<br>Take your coding skills to next level</a></div><br><br>\n\n<div class =book><a href=\"https://www.amazon.in/Java-Complete-Reference-Herbert-Schildt/dp/9387432297/ref=as_li_ss_il?crid=3CX3YBJGCBWR8&dchild=1&keywords=books+java&qid=1605019632&sprefix=books+java,aps,346&sr=8-3&linkCode=li3&tag=amazon00a96-21&linkId=72dfda3bc617691b286cd92e084f5854&language=en_IN\" target=\"_blank\"><img border=\"0\" src=\"//ws-in.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=9387432297&Format=_SL250_&ID=AsinImage&MarketPlace=IN&ServiceVersion=20070822&WS=1&tag=amazon00a96-21&language=en_IN\" ></a>\n<img src=\"https://ir-in.amazon-adsystem.com/e/ir?t=amazon00a96-21&language=en_IN&l=li3&o=31&a=9387432297\" width=\"1\" height=\"1\" border=\"0\" alt=\"\" style=\"border:none;\" />\n</div><br>\n<div class=amazontext><a href=https://amzn.to/38y6PDW>Java-The complete reference</a></div>\n</div>\n\n<div class=col2> \n  <h2 style=\"font-family:monospace;margin-left:30px;font-size:40px;margin-top:10px;\">C++</style></h2>\n  \n  <div class=txt id=txtcol2><h3 style=\"font-family:Homemade Apple;margin-top:1cm;margin-left:25px;\">Datatypes</style></h3><div>\n  <div class=bar id=\"bar1\"></div> \n  <div class=para1 id=\"par1\"><p><b>Datatype</b>&emsp;&emsp;&emsp;&emsp;<b>Size(inbytes)</b><br>\n  Short Int&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;2&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Signed char&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;1<br>Unsigned Short Int&emsp;&emsp;&ensp;2&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Unsigned Char&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;1<br>\n  Unsigned int&emsp;&emsp;&emsp;&emsp;&emsp;4&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Float&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;4<br>Int&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;4&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Double&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;8<br>\n  Long Int&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;8&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Long Double&emsp;&emsp;&emsp;&emsp;&ensp;&ensp;12<br>Unsigned Long Int&nbsp;&emsp;&emsp;&ensp;8<br>\n  <div class=vline></div>\n  <br>\n  <h3 style=\"font-family:Homemade Apple;margin-top:1cm;margin-left:12px;\">Sample Program : Hello World!</style></h3>\n  <div class=bar2></div>\n  <div class=codeblock><p style=\"color:white;margin-left:20px;padding-top:20px;\">#include&lt;iostream.h&gt;<br>#include&lt;conio.h&gt;<br>\n      void main()<br>{<br>cout<<\"Hello World!\";<br>}</style></p></div>\n   <br> <a href=\"https://www.onlinegdb.com/online_c++_compiler\" target=\"_blank\"><b>Try it yourself >>></b></a><br>\n   \n  <h3 style=\"font-family:Homemade Apple;margin-top:1cm;margin-left:12px;\">Identifiers</style></h3><div class=bar2></div><br><p style=\"margin-top:-7px;\"><ol><li>Variable</li><li>Function</li><li>Structure</li><li>Classes</li><li>Union</li></style></p>\n  <h3 style=\"font-family:Homemade Apple;margin-top:0.2cm;margin-left:-25px;\">Operators</style></h3><div class=\"para2\"><div class=bar2></div><br><p style=\"padding-left:-2px;margin-top:-7px;\"><ol><li>Arithmetic (+,-,*,/,%)</li><li>Bitwise (<<,>>)</li><li>Relational (<,>,<=,>=)</li><li>Logical (&&,||,!)</li><li>Assignment (=)</li>\n   <li>Conditional (?a:b)</li><li>SizeOf</li><li>Comma (a,b)</li><li>Increment/decrement (++,--)</li></ol></style></p></div>\n  </p></div> <div class=vline2></div>\n  <div class=para3><h3 style=\"font-family:Homemade Apple;margin-top:-10.7cm;margin-left:10.5cm;\">Instructions</style></h3><div class=bar2 style=\"margin-left:10.5cm;\"></style></div><br><p style=\"margin-left:10.5cm;margin-top:1px;\"><b>1. Declaration Instruction</b>\n  <br> &emsp;&nbsp;Var<br>&emsp;Datatype<br><b>2. I/O Instructions</b><br>&emsp;cin>><br>&emsp;cout<<<br><b>3. Decision Statements</b><br>&emsp;if<br>&emsp;if-else<br>&emsp;Nested if-else<br>&emsp;else-if ladder<br><b>4. Iterative</b><br>&emsp;for(initialisation;condition;++/--);<br>&emsp;while(codition){//stmt;<br>++/--;} //entry control loop<br>&emsp;do{//stmt;<br>++/--;}<br>while(condition); //exit control loop<br></p></div>\n  <div class=para3><h3 style=\"font-family:Homemade Apple;margin-top:1cm;margin-left:40px;\">Functions</style></h3> <div class=bar2 style=\"margin-left:30px;\"></style></div>\n  <ol style=\"margin-left:30px;\"><b><li>Call by Value:</b>&ensp;Original value not changed</li><li><b>Call by Reference:</b>&ensp;Original value is modified since we pass address.</li><li><b>Call by Address:</b>&ensp;Changes made to the parameter affects the arguments.</li></b></style></ol></div>\n  <div class=para3><h3 style=\"font-family:Homemade Apple;margin-top:1cm;margin-left:40px;\">OOPs Concepts</style></h3> <div class=bar2 style=\"margin-left:30px;\"></style></div>\n  <ol style=\"margin-left:15px;\"><b>1.Classes:<br></b>&ensp;-Blue print of an object.<br>&ensp;-A real time entity.<br>&ensp;-Grouping data and functions into single unit.<br><b>Syntax:</b>&emsp;class book<br>{&emsp;int age;<br>&emsp;&ensp;int rollno;<br>};<br>\n  <br><table style=\"width:100%;\"><tr><th>Modifiers</th><th>Own class</th><th>Derived class</th><th>Main()</th></tr>\n  <tr><th>Public</th><td>&emsp;&emsp;&emsp;Yes</td><td>&emsp;&emsp;&emsp;Yes</td><td>&emsp;&emsp;&emsp;Yes</td></tr> <tr><th>Private</th><td>&emsp;&emsp;&emsp;Yes</td><td>&emsp;&emsp;&emsp;No</td><td>&emsp;&emsp;&emsp;No</td></tr><tr><th>Protected</th><td>&emsp;&emsp;&emsp;Yes</td><td>&emsp;&emsp;&emsp;Yes</td><td>&emsp;&emsp;&emsp;No</td></tr></table>\n  <br><br><b>2. Objects:</b><br>&ensp;-Instance of a class<br>&ensp;-When a class is defined, no memory allocated to object but once instantiated, memory allocated.<br><b>Syntax:</b>class person<br>{char name[20];<br>int id;<br>public:&emsp;void getdetail(){}<br>};<br>int main(){<br>person p1;//object<br>}<br>\n  <br><b>3. Encapsulation</b><br>&ensp;-Wrapping up of data and information in single unit.<br>&ensp;-Leads to data abstraction or hiding.\n  <br><br><b>4. Abstraction</b><br>&ensp;-Dispaying only essential details and hiding implementation.<br>&ensp;-Providing only essential information about data to the outside world.\n  <br><br><b>5. Polymorphism</b><br>&ensp;-Having many forms.<br>&ensp;-Abiity of a message to be displayed in more than one forms.<br>&emsp;<ul><li><b>Compile Time Polymorphism</b></li>&emsp;Function Overloading<br>&emsp;Operator Overloading<li><b>Run Time Polymorphism</b></li>&emsp;Virtual Funtion</ul>\n  <br><br><b>6. Inheritance</b><br>&ensp;-Child class inherits the properties of base class.<br>&ensp;-Code reusability is increased and there is no need to writr same code again and again.<br><b>Syntax:</b>&emsp;class subclass_name:&nbsp;access_mode baseclass_name{<br>//body of subclass<br>};<br>\n  </style></ol>\n  <div class=para3><h3 style=\"font-family:Homemade Apple;margin-top:1cm;margin-left:40px;\">Constructors</style></h3> <div class=bar2 style=\"margin-left:30px;\"></style></div>\n  <p style=margin-left:55px;>1. It is a special member function of a class having same name as class name.<br>2. It has no return type.<br><br>There are three types of constructors:-<p style= margin-left:70px;margin-top:-10px;><b>a)Default Constructor<br>b)Parameterized Constructor<br>c)Copy Constructor</b><p style= margin-left:20px;>i)Shallow copy constructors<br>ii)Deep copy constructor</p></p></p>\n  </div>\n  <div>\n  <footer>\n   <form action=\"/codenectar\" method=\"post\">\n      <h1>Like what you are reading? Subscribe and be the first one to get updates</h1>\n      <label for=\"email\">Email Address:</label>\n      <input type=\"text\" name=\"email\" />\n      <input type=\"submit\" />\n    </form>\n</footer>\n </div>\n  \n  </body>\n</html>","output":"str","x":506,"y":120,"wires":[["961adb47.2edbf8"]]},{"id":"20a5ffb1.f9a7","type":"http in","z":"6be0cede.82521","name":"","url":"/codenectar","method":"post","upload":false,"swaggerDoc":"","x":138,"y":168,"wires":[["3500cc54.cfc894","765507ef.e407f8"]]},{"id":"3500cc54.cfc894","type":"debug","z":"6be0cede.82521","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":454,"y":216,"wires":[]},{"id":"475d8f8e.ae86c","type":"comment","z":"6be0cede.82521","name":"Cliff notes for Cpp","info":"This flow creates a cheat sheet for C++","x":735,"y":72,"wires":[],"l":false},{"id":"765507ef.e407f8","type":"cloudant out","z":"6be0cede.82521","name":"","cloudant":"","database":"subscription","service":"node-red-wevdm-cloudant-1591696493050-52928","payonly":true,"operation":"insert","x":399,"y":264,"wires":[],"l":false},{"id":"562c7587.8d9a7c","type":"http in","z":"6be0cede.82521","name":"","url":"/WriteForUs","method":"get","upload":false,"swaggerDoc":"","x":63,"y":312,"wires":[["3025e293.9506ce"]],"l":false},{"id":"8d077218.33dd1","type":"template","z":"6be0cede.82521","name":"Contact us HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Contact Us</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <style>{{{payload.style}}}</style>\n    </head>\n<body>\n    <div class=\"container\">\n  <form action=\"/WriteForUs\" method=\"post\">\n\n    <label for=\"fname\">First Name</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"Your name..\">\n\n    <label for=\"lname\">Last Name</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\" placeholder=\"Your last name..\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"india\">India</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n\n    <label for=\"subject\">Subject</label>\n    <textarea id=\"subject\" name=\"subject\" placeholder=\"Write about your topic..\" style=\"height:200px\"></textarea>\n\n    <input type=\"submit\" value=\"Submit\"> <a href=\"https://node-red-wevdm.eu-gb.mybluemix.net/codenectar#\" class=\"button\">Back</a>\n    \n  </form>\n</div>\n</body>\n</html>","output":"str","x":375,"y":360,"wires":[["8fa95ca9.74c3b"]],"l":false},{"id":"8fa95ca9.74c3b","type":"http response","z":"6be0cede.82521","name":"","statusCode":"","headers":{},"x":543,"y":384,"wires":[],"l":false},{"id":"3025e293.9506ce","type":"template","z":"6be0cede.82521","name":"css","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=text], select, textarea {\n  width: 100%; /* Full width */\n  padding: 12px; /* Some padding */ \n  border: 1px solid #ccc; /* Gray border */\n  border-radius: 4px; /* Rounded borders */\n  box-sizing: border-box; /* Make sure that padding and width stays in place */\n  margin-top: 6px; /* Add a top margin */\n  margin-bottom: 16px; /* Bottom margin */\n  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */\n}\n\n/* Style the submit button with a specific background color etc */\ninput[type=submit] {\n  background-color: #4CAF50;\n  color: white;\n  padding: 12px 20px;\n  border: none;\n  border-radius: 4px;\n  cursor: pointer;\n}\n\n/* When moving the mouse over the submit button, add a darker green color */\ninput[type=submit]:hover {\n  background-color: #45a049;\n}\n\n/* Add a background color and some padding around the form */\n.container {\n  border-radius: 5px;\n  background-color: #f2f2f2;\n  padding: 20px;\n}\n.button {\n  background-color: #4CAF50;\n  border: none;\n  color: white;\n  padding: 12px 30px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 14px;\n  margin: 4px 2px;\n  cursor: pointer;\n  border-radius:5px;\n  margin-left:28cm;\n}\n.button:hover\n{\n   background-color:#45a049;\n}","output":"str","x":231,"y":336,"wires":[["8d077218.33dd1"]],"l":false},{"id":"bd914d3c.c182c","type":"comment","z":"6be0cede.82521","name":"WriteForUs form","info":"","x":735,"y":360,"wires":[],"l":false},{"id":"fe85aa77.3e6138","type":"http in","z":"6be0cede.82521","name":"","url":"/WriteForUs","method":"post","upload":false,"swaggerDoc":"","x":63,"y":384,"wires":[["30195660.8ea4ba","258a415c.08127e"]],"l":false},{"id":"30195660.8ea4ba","type":"debug","z":"6be0cede.82521","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":279,"y":408,"wires":[],"l":false},{"id":"258a415c.08127e","type":"cloudant out","z":"6be0cede.82521","name":"","cloudant":"","database":"writeforus","service":"node-red-wevdm-cloudant-1591696493050-52928","payonly":true,"operation":"insert","x":279,"y":456,"wires":[],"l":false}]
